.notices .notice {
    width: 100%;
    height: 100vh;
    opacity: 0;
    position: fixed;
    top:0;
    left:0;
    transition: 1s;
    padding: 3rem;
}

.notices .noticeTitle {
    margin: 0;
    font-size: 60px;
}

.notices .noticeContent {
    height:55vh;
    overflow-y: auto;
    font-size: 40px;
    margin-top:20px;
}

.notices .noticeData {
    font-size: 20px;
    font-weight: 700;
}

.notices .notice.active {
    opacity: 1;
}