.notices .notice {
    width: 100%;
    height: 100vh;
    opacity: 0;
    position: fixed;
    top:0;
    left:0;
    transition: 1s;
    padding: 3rem;
}

.notices .noticeTitle {
    overflow-x: visible;
    white-space: nowrap;
    margin: 0;
    font-size: 60px;
    overflow-x: hidden;
}

.notices .noticeContent {
    height: 80%;
    overflow-y: auto;
    font-size: 40px;
    margin-top:20px;
    margin-bottom: 0;
}

.notices .noticeData {
    font-size: 20px;
    font-weight: 700;
}

.notices .notice.active {
    opacity: 1;
}